.input-label {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.radio-group {
    display: inline;
}

.form-button {
    /* position: absolute;
    bottom: 2rem;
    left: 50%; */
    /* transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); */
    width: 100%;
    padding: 0.7rem;
    font-size: large;
    background-color: green;
    color: black;
    border: 2px solid black;
    transition: all .5s;
}

.form-button:hover {
    background-color: black;
    color: green;
    border: 2px solid green;
}